<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Content</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Protected Content</h1>
        <form method="post" action="/get_flag">
            <input type="submit" value="Get Flag">
        </form>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</body>
</html>
